{% extends 'base.html.twig' %}

{% block content %}
    <section>
        <h2>About this website...</h2>
        <p>
            This website has a backend website as shown on the picture below.
        </p>
        <img src="{{ asset('images/db.png') }}" width="600" alt="db layout"/>
    </section>
{% endblock %}