<!DOCTYPE html>
<html lang="en">
<head>
    <title>WebTech Demo</title>
    <meta charset="UTF-8" />
    <meta name = "description" content = "My own kursusdienst">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css"/>
    {% for stylesheet in stylesheets %}
        <link href="{{ asset('css/' ~ stylesheet) }}" rel="stylesheet" type="text/css"/>
    {% endfor %}
</head>

<body>
<header>
    <div id="logo">
        <h1>CouBooks</h1>
        <h2>A Webtech demo site</h2>
    </div>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <p>Copyright &copy 2022 WebTech. KUL&nbsp;All Rights Reserved.&nbsp;&nbsp;
        <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a>
    </p>
</footer>
</body>
</html>
