{% extends 'base.html.twig' %}

{% block content %}
    <section>
        <p>Below you can find an overview of all available courses.</p>
        <ul>
            <li>Computernetworks
                <ul>
                    <li class="bookItem">Computer networking: a top down approach</li>
                </ul>
            </li>
            <li>Operating Systems
                <ul>
                    <li class="bookItem" data-isbn="">Silberschatz's Operating System Concepts</li>
                    <li class="bookItem" data-isbn="">Printout version of lecture slides</li>
                </ul>
            </li>
        </ul>
    </section>
{% endblock %}