{% extends 'base.html.twig' %}

{% block content %}
    <section>
        <h3>add feedback...</h3>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" placeholder="Your name.." required>

        <label for="feedback">Feedback:</label>
        <textarea id="feedback" name="feedback" placeholder="Write something.." style="height:50px" required></textarea>

        <button type="submit" value="Submit" id="submitBtn">Submit</button>

    </section>
{% endblock %}